* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* border: 1px solid red; */
    background-image: url('../assets/crew/background-crew-mobile.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0;
    margin-bottom: 2em;
    align-items: center;
}

.navbar li {
    margin: 2em 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
.navbar li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.navbar {
    list-style-type: none;
    text-decoration: none;
    position: fixed;
    inset: 0 0 0 30%;
    padding: min(20vh, 10rem) 2em;
    background-color: hsl(0 0% 0% / 0.5);
    transition: all .30s ease-in-out;
    transform: translateX(100%);
}
.navbar li:hover {
    transform: translateY(-2px);
}
.mobile-nav-toggle {
    position: absolute;
    background-color: transparent;
    background-image: url("../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    
}
.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/shared/icon-close.svg");
}
@supports (backdrop-filter: blur(1rem)) {
    .navbar {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
    }
}
.menu {
    cursor: pointer;
    transition: all .2s ease;
}
.menu:hover {
    /* background-color: darkgray; */
    transform: translateY(2px);
}
.crew__hero {
    padding: 2em 2em;
    align-items: center;
    justify-content: center;
}
.crew-title {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 3em;
    /* border: 1px solid red; */
}
.crew-title h2 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875rem;
    text-transform: uppercase;
}
.crew-title h2 span {
    opacity: 0.35;
    margin-right: 0.8rem;   
}
.crew__main {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}   
.crew__main img {
    width: 11.07019rem;
    height: 13.875rem;
    /* z-index: 0; */
}
.dot-navigation {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}
.dot:hover {
    background-color: #555;
}
.title {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4951;
    margin-top: 1em;
    margin-bottom: .5em;
}
.name {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
}
.crew_text p {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
}

@media (min-width: 768px) {
    body {
        /* height: 1055px; */
        /* opacity: 0.25; */
        background-image: url("../assets/crew/background-crew-tablet.jpg");
        mix-blend-mode: screen;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* mix-blend-mode: screen; */
        /* background-color: black; */
        padding: 0;
        margin: 0;
    }
    header {
        padding: 0;
        align-items: center;
    }
    .header__logo {
        margin: 2em;
    }
    .mobile-nav-toggle {
        display: none;
    }
    .navbar_main {
        display: flex; /* Display as flex for tablet and larger screens */
        align-items: center; /* Align items vertically in flex container */
        margin: 0;
        padding: 0;
        color: white;
        z-index: 0;
    }    
    .navbar {
        inset: auto;
        transform: translateX(0);
        /* background-color: transparent; */
        display: flex;
        margin: 0;
        padding: 0;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        position: static;
        padding: 1em;
        font-size: 1.2rem;
        width: 450px;
        height: 96px;
        flex-shrink: 0;
        align-items: center;
    }
    .navbar li {
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.362px;
        margin: 0 auto;
        fill: #fff;
        margin-inline-end: 1rem;  /* Adjust spacing between navigation items */
    }
    .navbar li a > span {
        display: none;
    }
    .crew-title {
        /* justify-content: flex-end; */
        text-align: left;
    }
    .crew__main {
        /* padding: 2em 0 5em; */
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .crew_hero_img {
        align-items: flex-end;
        /* background: url("../assets/crew/image-douglas-hurley.png"), 0px 0px / 100% 100% no-repeat; */
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0;
        justify-content: center;
        text-align: center;
        width: 456.372px;
        height: 572px;
        /* z-index: 999; */
        margin-bottom: 0;
    }
    .crew_hero_img img {
        width: 100%;
        height: 572px;
        /* z-index: 999; */
    }
    .crew-pages {
        width: 285.5px;
        margin-left: 10%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        gap: 4em;
        line-height: normal;
        letter-spacing: 2.7px;
    }
    .crew-pages a li {
        gap: 40px;
    }
    .crew_time {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 5em;
        justify-content: center;
        text-align: center;
    }
    .crew_time p {
        font-size: 16px;
        letter-spacing: 2.362px;
    }
    .crew_time h2 {
        font-size: 28px;
    }
    .crew_time h1 {
        margin: .5em 0;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: normal;
    }
    .crew_about {
        padding: 2em ;
        width: 458px;
    }
    .tile {
        font-size: 24px;
        font-weight: 400;
    }
    .name {
        font-size: 40px;
        font-weight: 400;
    }
    .crew_about p {
        line-height: 28px;
        font-size: 16px;
        font-weight: 400;
    }
    .dot-navigation {
        margin-bottom: 2em;
    }
    .dot {
        background-color: rgb(139, 139, 139);
        width: 20px;
        height: 20px;
    }

    
}

@media (min-width: 1280px) {
    body {
        background-image: url("../assets/crew/background-crew-desktop.jpg");
    }
    .navbar {
        width: 830px;
        background: rgba(255, 255, 255, 0.04);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        letter-spacing: 2.7px;
        backdrop-filter: blur(40.774227142333984px);
    }
    .navbar li {
        display: flex;
    }
    .navbar li a > span {
        display: inline;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.7px;
    }
    
    .crew-title {
        margin-left: 6em;
        font-size: 28px;
    }
    .crew__main {
        flex-direction: row-reverse;
        align-items: center;
        padding: 4em;
        text-align: initial;
    }
    .dot__main {
        display: flex;
        flex-direction: column-reverse;
    }
    .dot-navigation {
        align-items: initial;
        text-align: initial;
    }
    .dot {
        margin-left: 2em;
    }
    .crew_hero_img {
        width: 453.44px;
        height: 654px;
        z-index: 999;
    }
    .crew_hero_img img {
        width: 453.44px;
        height: 654px;
    }
    .crew_text {
        margin-right: 10em;
        text-align: initial;
    }
    .tile {
        font-size: 32px;
    }
    .crew_text h1 {
        text-align: initial;
    }
    .name {
        text-align: initial;
        margin-bottom: 0;
        font-size: 56px;
        width: 614px;
    }
    .crew_text p {
        text-align: initial;
        margin-top: 2%;
        font-size: 18px;
        width: 444px;
    }
    .crew_hero_img {
        width: 50%;
    }
    .tech_hero_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}